<h1>Autor de la Aplicacion Quiz</h1>
<h2>Iván Martínez von Halle</h2>
<p> Basado en las Instrucciones dadas en el curso Desarrollo de servicios en la nube con HTML5, Javascript y node.js del sitio web Miriadax y del github https://github.com/jquemada/quiz-2015 </p> 

<img src="/images/ivanmartinez_peq.jpg" alt="El autor: Ivan Martinez (jpg)" /> 
<img src="/images/ivanmartinez_peq.png" alt="El autor: Ivan Martinez (png)" /> 

<video controls="" preload="" autoplay="" height="240" width="320">
	<source src="/images/video.ogg" type="video/ogg">
    <source src="/images/video.mp4" type="video/mp4">
</video>