<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a la Aplicación: <%= title %></h1>
    <p>El portal donde podrá crear sus propios Juegos !!! </p>
    <p> <a href="/quizes/question">Comience a Jugar</a></p>
  </body>
</html>
